#navibar {
    /* background-color: #3696d1; */
}
body {
    background-color: #000;
}

#nav-img {
    height: 25px;
}
form {
    margin-left: 20px;
}
#nav-head {
    width: 40px;
    border-radius: 40px;
    border: 1px solid white;
}

#carouselExampleIndicators {
    margin-top: 100px;
    margin: auto;
}
.carousel-item img {
   height: 720px;
}
.carousel-caption h3 {
    color: #91C2F2;
}

.row {
    width: 1280px;
    margin: auto;
}

.card {
    width: 500px;
    display: inline;
    float: left;
}
.card img {
    width: 160px;
    margin: auto;
    margin-top:10px;
}
.card-deck { 
    margin: auto;
    margin-top: 30px;
}
.card-text {
    font-size: 12px;
    margin: auto;
}

.card-body h5 {
    text-align: center;
    color: #437ab2;;
}
.card-body {
    width: 200px;
}

.card-body p{
    text-align: center;
}
.page-header {
    width: 1280px;
    margin: auto;
    margin-top:50px;
    text-align: center;
    font-size: 30px;
    background-color: #000;
    margin-left: auto;
}

.header-content-wrapper {
    background-color: #000;
    margin: auto;
}
h1 {
    color: white;
}


.media {
    border: 0px solid white;
    border-radius: 5px;
    width: 350px;
    height: 150px;
    margin-left:60px;
    margin-top:40px;
    background-color: #FFF;
}
.media-img {
    height:150px;
}

.media-body {
    margin-top: 10px;
    margin-left:20px;
}

.movie-title {
    font-size: 20px;
    font-weight: bold;
    color: #437ab2;
    line-height: 20px;
}
.movie-info {
    margin-top: 10px;
}
.movie-info-item {
    margin-bottom: 0px;
    font-weight: bold;
    color:#666666;
    font-size: 12px;
}
.movie-info-item-text {
    color: #888888;
    font-size: 12px;
}

.movie-info {
    width: 220px;
}